#active-bg {
  position: absolute;
  width: calc(100% + 30px);
  min-width: 600px;
  height: 60px;
  left: -30px;
  display: flex;
  overflow: hidden;
  transition: 0.5s ease;
  background-color: var(--edit-op-va_bg);
}

#active-bg ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 5px;
}

#active-bg li {
  list-style-type: none;
  border-radius: 50%;
  background: var(--hover_color);
  opacity: 0;
  -webkit-animation: MOVE_UP 3s infinite -1s linear;
          animation: MOVE_UP 3s infinite -1s linear;
}

#active-bg li:nth-child(1) {
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 4.064s;
          animation-duration: 4.064s;
  -webkit-animation-delay: 2.504s;
          animation-delay: 2.504s;
}

#active-bg li:nth-child(2) {
  width: 30px;
  height: 30px;
  -webkit-animation-duration: 3.682s;
          animation-duration: 3.682s;
  -webkit-animation-delay: 1.236s;
          animation-delay: 1.236s;
}

#active-bg li:nth-child(3) {
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 4.94s;
          animation-duration: 4.94s;
  -webkit-animation-delay: 1.576s;
          animation-delay: 1.576s;
}

#active-bg li:nth-child(4) {
  width: 30px;
  height: 30px;
  -webkit-animation-duration: 3.09s;
          animation-duration: 3.09s;
  -webkit-animation-delay: 1.33s;
          animation-delay: 1.33s;
}

#active-bg li:nth-child(5) {
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 4.482s;
          animation-duration: 4.482s;
  -webkit-animation-delay: 2.21s;
          animation-delay: 2.21s;
}

#active-bg li:nth-child(6) {
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 2.17s;
          animation-duration: 2.17s;
  -webkit-animation-delay: 1.774s;
          animation-delay: 1.774s;
}

#active-bg li:nth-child(7) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 4.07s;
          animation-duration: 4.07s;
  -webkit-animation-delay: 1.142s;
          animation-delay: 1.142s;
}

#active-bg li:nth-child(8) {
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 3.878s;
          animation-duration: 3.878s;
  -webkit-animation-delay: 2.37s;
          animation-delay: 2.37s;
}

#active-bg li:nth-child(9) {
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 3.676s;
          animation-duration: 3.676s;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

#active-bg li:nth-child(10) {
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 5.802s;
          animation-duration: 5.802s;
  -webkit-animation-delay: 2.35s;
          animation-delay: 2.35s;
}

#active-bg li:nth-child(11) {
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 2.164s;
          animation-duration: 2.164s;
  -webkit-animation-delay: 2.76s;
          animation-delay: 2.76s;
}

#active-bg li:nth-child(12) {
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 4.734s;
          animation-duration: 4.734s;
  -webkit-animation-delay: 1.07s;
          animation-delay: 1.07s;
}

#active-bg li:nth-child(13) {
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 3.838s;
          animation-duration: 3.838s;
  -webkit-animation-delay: 2.874s;
          animation-delay: 2.874s;
}

#active-bg li:nth-child(14) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 4.308s;
          animation-duration: 4.308s;
  -webkit-animation-delay: 1.184s;
          animation-delay: 1.184s;
}

#active-bg li:nth-child(15) {
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 5.996s;
          animation-duration: 5.996s;
  -webkit-animation-delay: 1.162s;
          animation-delay: 1.162s;
}

#active-bg li:nth-child(16) {
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 5.862s;
          animation-duration: 5.862s;
  -webkit-animation-delay: 2.412s;
          animation-delay: 2.412s;
}

#active-bg li:nth-child(17) {
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 2.572s;
          animation-delay: 2.572s;
}

#active-bg li:nth-child(18) {
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 3.078s;
          animation-duration: 3.078s;
  -webkit-animation-delay: 1.55s;
          animation-delay: 1.55s;
}

#active-bg li:nth-child(19) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 2.042s;
          animation-duration: 2.042s;
  -webkit-animation-delay: 1.504s;
          animation-delay: 1.504s;
}

#active-bg li:nth-child(20) {
  width: 30px;
  height: 30px;
  -webkit-animation-duration: 2.41s;
          animation-duration: 2.41s;
  -webkit-animation-delay: 1.294s;
          animation-delay: 1.294s;
}

@-webkit-keyframes MOVE_UP {
  0% {
    transform: translate(0, 40px);
  }
  20% {
    opacity: 0.5;
  }
  100% {
    transform: translate(0, -40px);
    opacity: 0;
  }
}

@keyframes MOVE_UP {
  0% {
    transform: translate(0, 40px);
  }
  20% {
    opacity: 0.5;
  }
  100% {
    transform: translate(0, -40px);
    opacity: 0;
  }
}/*# sourceMappingURL=itemEffect.css.map */