:root {
  --btn_h: 26px;
  --btn_w: 110px;
  /* 定义颜色 */
  --hover_color: rgb(20, 178, 231);
  --hover_color_2: rgba(83, 145, 232, 0.845);
  --hover_edge: rgba(210, 210, 210, 0.658);
  --active_color: rgb(90, 214, 255);
  --mid-gray-bg: rgba(55, 102, 205, 0.751);
  --edit-item-line-color: rgba(55, 102, 205, 0.4);
  --scroll-bg: rgba(30, 63, 133, 0.3);
  --focus_bg: rgba(8, 29, 70, 0.6);
  --unitFoldBox_bg: rgb(52, 52, 52);
  --edit-area-bg: rgba(14, 22, 37, 0.922);
  --edit-op-va_bg: rgba(30, 63, 133, 0.514);
  --edit-hover-color: rgb(255, 255, 255);
  --light_color: rgba(105, 172, 230, 0.858);
  /* 编辑区条目颜色 */
  --edit-font-color: rgba(135, 207, 255, 0.911);
  --edit-num-color: rgba(107, 255, 174, 0.897);
  --edit-yes-color: rgba(255, 186, 83, 0.897);
  --edit-boole-color: rgba(255, 83, 178, 0.897);
  /* 定义投影 */
  --drop-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.4);
  --drop-shadow-hover: 0px 8px 12px 0px rgba(0, 0, 0, 0.55);
  --drop-shadow-2: 0px 10px 16px 4px rgba(0, 0, 0, 0.6);
  /* 定义渐变 */
  --top-bg_grad: linear-gradient(to bottom, rgb(80, 80, 80), rgb(48, 48, 48));
  --edit-top_grad_allied: linear-gradient(
    30deg,
    rgba(20, 60, 139, 0.694),
    rgba(69, 154, 239, 0.806)
  );
  --edit-top_grad_soviet: linear-gradient(
    30deg,
    rgba(139, 20, 30, 0.694),
    rgba(239, 120, 69, 0.806)
  );
  --edit-top_grad_yuri: linear-gradient(
    30deg,
    rgba(46, 20, 139, 0.694),
    rgba(123, 69, 239, 0.806)
  );
  --edit-top_preview: linear-gradient(
    30deg,
    rgba(56, 56, 56, 0.792),
    rgb(99, 99, 99)
  );

  --liner_grad_1: linear-gradient(
    to bottom,
    rgb(103, 103, 103),
    rgba(72, 72, 72, 0.792)
  );
  --liner_grad_2: linear-gradient(to bottom, rgb(57, 56, 56), rgb(68, 68, 68));
  --liner_grad_3: linear-gradient(
    to bottom,
    rgb(32, 56, 130),
    rgb(48, 77, 176)
  );
  --liner_grad_4: linear-gradient(to bottom, rgb(40, 40, 40), rgb(53, 53, 53));
  --liner_grad_5: linear-gradient(to bottom, rgb(28, 28, 28), rgb(34, 34, 34));
  --liner_grad_6: linear-gradient(
    to bottom,
    rgba(188, 103, 42, 0.719),
    rgba(219, 162, 38, 0.776)
  );
}

.drop-shadow {
  box-shadow: var(--drop-shadow);
}
.drop-shadow:hover {
  box-shadow: var(--drop-shadow-hover);
}
.fold-expand::after {
  content: "\f107";
  font-family: "FontAwesome";
}
.fold-collapse::after {
  content: "\f106";
  font-family: "FontAwesome";
}
.br {
  box-sizing: border-box;
  border: 1px solid red;
}
.br-view {
  box-sizing: border-box;
  border: 1px solid rgb(255, 216, 24);
}
.ct {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

::-webkit-scrollbar {
  width: 14px; /* 纵向滚动条 宽度 */
  height: 14px; /* 横向滚动条 高度 */
  background: var(--scroll-bg); /* 整体背景 */
  border-radius: 7px; /* 整体 圆角 */
}
::-webkit-scrollbar-thumb {
  border-radius: 7px; /* 整体 圆角 */
  /* background: rgba(40, 40, 40, 0.6); */
  background-image: linear-gradient(
    90deg,
    rgba(94, 94, 94, 0.6),
    rgba(52, 52, 52, 0.3)
  );
  box-sizing: border-box;
  border: 2px solid rgba(156, 156, 156, 0.5);
  position: absolute;
}
.hight-light-words {
  color: var(--light_color);
}

.btn {
  box-sizing: border-box;
  border: 1px solid rgba(115, 115, 115, 0.829);
  border-radius: calc(var(--btn_h) / 2);
  background-image: var(--liner_grad_1);
  color: rgba(228, 228, 228, 0.881);
  height: var(--btn_h);
  width: var(--btn_w);
  margin: 0;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.12s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.btn:hover {
  border: 1px solid var(--hover_color);
  color: rgb(255, 255, 255);
  background-image: var(--liner_grad_3);
  filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.5));
}
.btn:active {
  background-image: var(--liner_grad_4);
}
.btn:not(:last-child) {
  margin-right: 10px;
}
